.product{
    width: 300px;
    height: 510px;
    border: .5px solid #95a0a7;
    border-radius: 8px;
    position: relative;
}

.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
    
}

.product-info{
    margin-left: 14px;
    color: #0E161A;
}

.product-name{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.15%;
   
}

.product-price{
    font-size: 18px;
    font-weight: 500;
    /* letter-spacing: 0.15%; */ 
}
.product-manufacture{
    font-size: 16px;
    font-weight: 300;
    /* letter-spacing: 0.15%; */   
}
.btn-cart{
    width: 100%;
    background: #ffe0b3;
    border: .5px solid #95a0a7;
    border-radius: opx opx 8px 8px;
    position: absolute;
    bottom: 0px;
}

.btn-cart:hover{
    background-color: orange;
    color: #fff;
}